.comments {
    margin-top: 102px;
    font-family: 'Inter', sans-serif;
}
.comments__block {
    margin-top: 72px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 19px;
}
.comment__text {
    margin-top: 42px;
}
.comment img {
    border-radius: 50%;
    width: 97px;
    height: 97px;
    border: 0px;
}
.quote {
    font-size: 0.87rem;
    line-height: 1.6;
    padding: 0;
    margin: 0;
}
.author {
    font-weight: 900;
    margin-top: 24px;
}
@media screen and (max-width: 1279px) {
    .comments__block {
        margin-top: 70px;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 30px;
    }
    .comments {
        margin-top: 145px;
    }
}

@media screen and (max-width: 1023px) {
    .comments {
        margin-top: 102px;
    }
    .comment {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 47px;
    }
    .comments__block {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 47px;
    }
    .comment__text {
        margin-top: 16px;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        max-width: 336px;
    }
}

@media screen and (max-width: 767px) {
    .comments {
        margin-top: 64px;
    }
    .comments__block {
        display: flex;
        flex-direction: column;
        margin: 42px 0 0 0;
    }
}
@media screen and (max-width: 374px) {
    .comments__block {
        margin: 34px 0 0 0;
    }
}
