.header {
    height: 52px;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    font-family: 'Inter', sans-serif;
}
.header__logo {
    border: 0px;
    height: 52px;
    margin: 0;
    padding: 0;
}
.header__logo-link {
    text-decoration: none;
    margin: 0;
    padding: 0;
}
.header__language-wrapper {
    font-size: 1.5rem;
    line-height: 1;
    margin-top: 17px;
}
.header__lang:hover {
    opacity: 0.7;
}

.header__language-link {
    margin: 0 0 0 18px;
    padding: 0;
    text-decoration: none;
    color: white;
    font-weight: 400;
}
.header__language-link.header__language-link_selected {
    text-decoration: underline;
}
@media screen and (max-width: 767px) {
    .header {
        margin-top: 16px;
    }
}
@media screen and (max-width: 374px) {
    .header {
        height: 42px;
    }
    .header__logo {
        height: 42px;
    }
    .header__language-wrapper {
        font-size: 1.12rem;
        line-height: 1;
    }
}