@font-face {
    font-family: 'Inter';
    font-style:  normal;
    font-weight: 400;
    src: url("/fonts/Inter-Regular.woff2") format("woff2"),
         url("/fonts/Inter-Regular.woff") format("woff");
  }
  @font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    src: url(' ../fonts/Inter-Medium.woff2') format('woff2'), 
         url(' ../fonts/Inter-Medium.woff') format('woff');
  }
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/Inter-Bold.woff2") format("woff2"),
         url("../fonts/Inter-Bold.woff") format("woff");
  }
  @font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    src: url("../fonts/Inter-Black.woff2") format("woff2"),
         url("../fonts/Inter-Black.woff") format("woff");
  }       
body {
    background: #2A2C2F;
}
.page {
    max-width: 1184px;
    min-width: 320px;
    margin: 0 auto;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    color: white;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    text-rendering: optimizeLegibility; 

}
.page a:not(.cover) {
    opacity: 1;
    transition: opacity .5s ease-in-out;
}
.page a:hover:not(.cover) {
    opacity: .7;
}

.content__title {
    font-size: 4.5rem;
    line-height: 1;
    font-weight: 900;
    width: 800px;
    text-align: center;
    margin: auto;
}

.content__subtitle {
    font-size: 1.5rem;
    line-height: 1.4;
    width: 640px;
    text-align: center;
    margin: 48px auto 0 auto;
    font-weight: 400;
}
@media screen and (max-width: 1279px) {
    .page {
        max-width: 928px;
    }
}

@media screen and (max-width: 1023px) {
    .page {
        max-width: 100vw;
        margin-left: 24px;
        margin-right: 24px;
    }
}

@media screen and (max-width: 767px) {
    .page {
        max-width: 100vw;
        margin-left: 16px;
        margin-right: 16px;
    }
}

@media screen and (max-width: 1023px) {
    .content__title {
        font-size: 2.6rem;
        line-height: 1.1;
        width: 400px;
    }
}

@media screen and (max-width: 767px) {
    .content__title {
        font-size: 2rem;
        width: 288px;
        line-height: 1.1;
    }
}

@media screen and (max-width: 1023px) {
    .content__subtitle {
        font-size: 1.5rem;
        line-height: 1.6;
        margin-top: 24px;
    }
}

@media screen and (max-width: 767px) {
    .content__subtitle {
        font-size: 1rem;
        line-height: 1.4;
        width: 288px;
    }
}