 .intro {
   width: 985px;
   margin: 80px auto 0 auto;
   font-family: 'Inter', sans-serif;
}
 .intro__title {
   font-weight: 900;
   margin: 0;
   padding: 0;
   font-size: 3.4rem;
   line-height: 1;
}
 .intro__subtitle {
    font-size: 24px;
    line-height: 37px;
    margin: 45px auto 0 auto;
 }
 .intro__block {
   margin-top: 35px;
   display: grid;
   grid-template-columns: 1fr 283px;
   grid-column-gap: 18px;
}
 .intro__text_paragraph {
   font-size: .9rem;
   line-height: 1.6;
   padding: 0;
   margin: 0;
 }
 .intro__text {
   padding: 0;
   margin: 0;
   font-size: .62rem;
   line-height: 1.6;
}
 .intro__text-bold {
    font-weight: bold;
 }
 .info__block {
   margin-top: 35px;
   font-size: .8rem;
   line-height: 1.5;
 }
 .intro__text_info {
    margin: 0;
    padding: 0;
    font-size: 13px;   
    line-height: 20px;
 }
.intro__text-block {
    margin: 0;
    padding: 0;
}
 .intro__text-bold {
    font-weight: bold;
 }
 @media screen and (max-width: 1279px) {
   .intro{
       width: 100%;
   }
   .intro__block {
      grid-template-columns: 1fr 220px;
      grid-column-gap: 16px;
   }
}
 @media screen and (max-width: 1023px) {
   .intro__block {
      display: flex;
      flex-direction: column-reverse;
      margin: 20px 0 0 0;
      align-items: stretch;
  }
   .intro__subtitle {
      margin: 45px 0 0 0;
   }
   .intro__text-block {
      margin-bottom: 40px;
   }
   .intro__text {
       margin: 35px 0 0 0;
   }
}

@media screen and (max-width: 767px) {
   .intro {
      margin: 64px auto 0 auto;
      width: 100%;
  }
  .intro__title {
   font-size: 2rem;
   line-height: 1.1;
   }
   .intro__subtitle{
      line-height: 1.3;
      margin: 23px 0 0 0;
   }
  .intro__text_paragraph {
      font-size: 1rem;
      line-height: 1.7;
   }
   .intro__text-block {
      margin-bottom: 32px;
  }

   .intro__text {
       margin: 0;
       font-size: .75rem;
       line-height: 1.6;
   }
   .intro__text_paragraph {
      font-size: 1rem;
      line-height: 1.7;
   }
}

@media screen and (max-width: 374px) {
   .intro__subtitle {
      line-height: 1.3;
      margin: 14px 0 0 0;
   }
  .intro__text_paragraph {
      font-size: 1.1rem;
      line-height: 1.7;
   }
   .intro__text-block {
      margin-bottom: 24px;
  }

   .intro__text {
       margin: 0;
       font-size: .75rem;
       line-height: 1.6;
   }
}