.lead {
   width: 985px;
   margin: 48px auto 0 auto;
   color: white;
   font-family: 'Inter', sans-serif;
}
.lead__title {
   font-size: 6rem;
   line-height: .95;
   font-weight: 900;
   text-align: center;
   width: 720px;
   margin: auto;
   padding: 0;
}
 
 .lead__subtitle {
   font-size: 1.88rem;
   line-height: 1.2;
   font-weight: 500;
   text-align: center;
   width: 584px;
   margin: 48px auto 0 auto;
   padding: 0;
}
 .lead__caption {
   font-size: 0.6rem;
   line-height: 1.2;
   letter-spacing: 0.15em;
   text-transform: uppercase;
   margin-top: 10px;
   padding: 0;
}
 .lead__image {
   margin-top: 78px;
   width: 984px;
}
 @media screen and (max-width: 1279px) {
   .lead {
       width: 100%;
   }
   .lead__image {
      width: 100%;
      margin-top: 65px;
  }
}
@media screen and (max-width: 1179px) {
   .lead__caption {
       margin-top: 16px;    
   }
}
@media screen and (max-width: 1023px) {
   .lead {
       margin: 48px auto 0 auto;
   }
   .lead__image {
      margin-top: 78px;
      width: calc(100% + 48px);
      margin-left: -24px;
      margin-right: -24px;
  }
}
@media screen and (max-width: 767px) {
   .lead__title {
      font-size: 2.5rem;
      line-height: 1.1;
      width: 340px;
  }
   .lead__subtitle {
         font-size: 1rem;
         line-height: 1.4;
         width: 340px;
         margin: 8px auto 0 auto;
   }
   .lead__image {
      margin-top: 32px;
      width: calc(100% + 32px);
      margin-left: -16px;
      margin-right: -16px;
   }

   .lead__caption {
         margin-top: 8px;    
   }
}
@media screen and (max-width: 374px) {


   .lead__title {
      font-size: 2.5rem;
      line-height: 1.1;
      width: 288px;
  }
 .lead__subtitle {
      font-size: 1rem;
      line-height: 1.4;
      width: 288px;
      margin: 8px auto 0 auto;
}
}